<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/css/bootstrap.min.css">
    <script src="../jquery/dist/jquery.min.js"></script>    
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../js/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <img src="img/LogoSLP.png" id="logo" alt="">
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="card col">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <center>
                            <div class="card-body">
                                <h1 class="display-3 card-title"><b id="numTurno">0</b></h1>
                                <p class="card-text">Actualiza el contador de turnos</p>
                                <br>
                                <button class="btn btn-primary" id="btnSumarTurno">+</button>
                                <button class="btn btn-danger" id="btnRestarTurno">-</button>
                            </div>
                        </center>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var fecha = new Date()
        var numTruno;
        $(window).on('load', function () {
            setInterval(async function () {
                const url = 'http://10.1.1.2:3000/5da27cae2b47dd1758cb01cc';
                var turno = await axios.get(url);
                numTruno = turno.data.NoTurno;
                $("#numTurno").html(turno.data.NoTurno);
                $("#numModulo").html(turno.data.Modulo);
            }, 1000);
        });
        
        $("#btnSumarTurno").on('click', function () {
            numTruno = parseInt(numTruno) + 1;
            $("#numTurno").html(numTruno);            
            var modulo = localStorage.getItem('modulo');
            var dataSend = {
                NoTurno: numTruno+"",
                Modulo: modulo,
                FechaRegistro: fecha.now
            }
            const url = 'http://10.1.1.2:3000/addTurno/5da27cae2b47dd1758cb01cc';
            axios.put(url, dataSend);
        });

        $("#btnRestarTurno").on('click', function () {
            numTruno -= 1;
            $("#numTurno").html(numTruno);
			var modulo = localStorage.getItem('modulo');
            var dataSend = {
                NoTurno: numTruno+"",
                Modulo: modulo,
                FechaRegistro: fecha.now
            }
            const url = 'http://10.1.1.2:3000/addTurno/5da27cae2b47dd1758cb01cc';
            axios.put(url, dataSend);
        });

        
    </script>
</body>

</html>