<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <img src="img/LogoSLP.png" id="logo" alt="">
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="card col">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <center>
                            <div class="card-header">
                                <h5>Modulo No. <b id="numModulo"></b></h3>
                            </div>
                            <div class="card-body">
                                <h1 class="display-3 card-title"><b id="numTurno">#</b></h1>
                                <p class="card-text">Actualiza el contador de turnos</p>
                                <br>
                                <button class="btn btn-primary" id="btnSumarTurno">+</button>
                                <button class="btn btn-danger" id="btnRestarTurno">-</button>
                            </div>
                        </center>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var fecha = new Date()
        var numTruno;
        $(window).on('load', function () {
            setInterval(async function () {
                const url = 'http://localhost:3000/5d9fb53b7233fb1b7838a07e';
                var turno = await axios.get(url);
                numTruno = turno.data.NoTurno;
                $("#numTurno").html(turno.data.NoTurno);
                $("#numModulo").html(localStorage.getItem('modulo'));
            }, 1000);
        });

        $("#btnSumarTurno").on('click', function () {
            numTruno = parseInt(numTruno) + 1;
            $("#numTurno").html(numTruno);
            var modulo = localStorage.getItem('modulo');
            var dataSend = {
                NoTurno: numTruno + "",
                Modulo: modulo,
                FechaRegistro: fecha.now
            }
            const url = 'http://localhost:3000/addTurno/5d9fb53b7233fb1b7838a07e';
            axios.put(url, dataSend);
        });

        $("#btnRestarTurno").on('click', function () {
            numTruno -= 1;
            $("#numTurno").html(numTruno);
            var modulo = localStorage.getItem('modulo');
            var dataSend = {
                NoTurno: numTruno + "",
                Modulo: modulo,
                FechaRegistro: fecha.now
            }
            const url = 'http://localhost:3000/addTurno/5d9fb53b7233fb1b7838a07e';
            axios.put(url, dataSend);
        });


    </script>
</body>

</html>